<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <title>Some Website</title>
  </head>
  <body>
    <h1>Site Under Maintanence</h1>
    <p>We're currently under maintanence, we'll be right back shortly. Sorry for the inconvenience :(</p>

  </body>
</html>
